body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* styles for the hero section */

/* desktop */
@media (min-width: 768px) {
    #hero {
        background: url(shared/background.webp) no-repeat center center fixed;
        background-size: cover;
        height: 98vh;
        display: flex;
        flex-direction: column;
    }
    #hero-nav {
        padding: 1rem;
    }
    #hero-nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    font-size: 2rem;
    }
    #hero-content {
        color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    #hero-text {
        margin-left: 20rem;
    }
    #button {
        margin-left: 20rem;
        height: 100%;
    }
    #hero-text h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    #hero-text p {
        font-size: 1.25rem;
    }
    #hero-button {
        border: 2px solid white;
        padding: 1rem 2rem;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 10px;
        font-weight: bold;
        font-size: 1rem;
    }
    #evanscreates {
        text-align: left;
    }
    #about {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 2rem 10rem 2rem 10rem;
        align-content: baseline;
    }
    #about-title {
        grid-column: span 2;
        text-align: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
    }
    #about-img {
        text-align: right;
        margin-right: 2rem;
    }
    #about-img img {
        width: 100%;
        border-radius: 20px;
    }
    #about-text {
        text-align: left;
        padding-left: 1rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #about-text p {
        margin-top: 0;
    }
    #about-text li {
        margin: 1rem 0;
    }

    #consult {
        background-color: #F1F3F5;
        text-align: center;
        padding: 1rem 10rem;
    }
    #consult-btn button {
        padding: 1rem 2rem;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    #consult a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
}



/* mobile */
@media (max-width: 767px) {
    #hero {
        background: url(shared/background.webp) no-repeat center center fixed;
        background-size: cover;
        height: 98vh;
        display: flex;
        flex-direction: column;
    }
    #hero-nav {
        padding: 1rem;
    }
    #hero-nav a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
    #hero-content {
        color: white;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    #hero-text {
        text-align: center;
    }
    #button {
        margin-left: 0;
        height: 100%;
        text-align: center;
    }
    #hero-button {
        border: 2px solid white;
        padding: 1rem 1rem;
        text-decoration: none;
        width: fit-content;
        color: black;
        background: white;
        border-radius: 10px;
    }
    #evanscreates {
        text-align: center;
    }

    #about {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;
        justify-content: center;
        text-align: center;
    }
    #about-title {
        width: 100%;
        grid-column: span 1;
    }
    #about-img img {
        width: 100%;
        border-radius: 20px;
    }
    #about-text p {
        margin-top: 0;
        text-align: left;
    }
    #about-text li {
        margin: 1rem 0;
        text-align: left;
    }

    #consult {
        background-color: #F1F3F5;
        text-align: center;
        padding: 1rem 1rem;
    }
    #consult-btn button {
        padding: 1rem 2rem;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
    }
    #consult a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
}



/* footer styles are in footer.css */

